* {
  font-family: Times, Arial;  
  margin: 0;
  padding: 0;
  //border: 1px solid white;
}

body {
  background-color: #F7F5E6;
  color: #333A56;
}

.header {
  position: relative;
  top: 46px;
  color:#E8E8E8;
  background-color: #333A56;
  text-align: left;
}

#nav {
  background: #333A56;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

#nav li {
  display: inline-block;
  border: 1px solid black;
  margin-left: 10px;
  margin-right: 10px;
  text-align: center;
  padding: 12px 16px 14px 16px;
}

#nav a {
  color:#E8E8E8;
  text-decoration: none;
}

.introduction {
  margin-top: 30px;
}