* {
  font-family: "Times New Roman", Times, serif;
  margin: 0;
  padding: 0;
  //border: 1px solid purple;
}

body {
  background-color: #F7F5E6;
  color: #333A56;
}

.nav-bar ul {
  list-style-type: none;
  position: fixed;
  top: 0;
  width: 100%;
  overflow: hidden;
  background-color: #333A56;
  border-bottom: 1px solid #F7F5E6;
  z-index: 1;
}

.nav-bar li {
  float: left;
  border-right: 1px solid #F7F5E6;
}

.nav-bar a {
  display: block;
  text-align: center;
  padding: 14px 16px;
  color: #F7F5E6;
  text-decoration: none;
}

.header {
  position: relative;
  top: 46px;
  color:#E8E8E8;
  background-color: #333A56;
  text-align: left;

}


.content {
  position: relative;
  top: 60px;
}